[submodule "Typography"]
	path = Typography
	url = https://github.com/LayoutFarm/Typography.git
[submodule "Wiki"]
	path = CSharpMath.Wiki
	url = https://github.com/verybadcat/CSharpMath.wiki.git
[submodule "MathS"]
	path = MathS
	url = https://github.com/asc-community/MathS
