<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="2.0.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net461" />
  <package id="SkiaSharp" version="1.60.2" targetFramework="net461" />
  <package id="SkiaSharp.Views" version="1.60.2" targetFramework="net47" />
  <package id="SkiaSharp.Views.Forms" version="1.60.2" targetFramework="net47" />
  <package id="WpfLightToolkit" version="1.0.3" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.1.0.637273" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.1.0.637273" targetFramework="net461" />
</packages>