name: Test

on: [push, pull_request]
jobs:
  all_projects:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.201'
    - name: Setup JDK
      uses: actions/setup-java@v1
      with:
        java-version: '8'
    - name: Update dependencies in CSharpMath.Xaml.Tests.NuGet
      run: |
        dotnet tool install -g dotnet-outdated
        update() {
          dotnet outdated -u CSharpMath.Xaml.Tests.NuGet
          dotnet outdated -pre Always -inc CSharpMath -u CSharpMath.Xaml.Tests.NuGet
        }
        # retry 5 times since dotnet outdated fails often: https://github.com/jerriep/dotnet-outdated/issues/299
        update || update || update || update || update
    - name: Build and Test
      run: |
        for p in\
          "CSharpMath.CoreTests"\
          "CSharpMath.Editor.Tests"\
          "CSharpMath.Editor.Tests.FSharp"\
          "CSharpMath.Evaluation.Tests"\
          "CSharpMath.Rendering.Tests"\
          "CSharpMath.Rendering.Text.Tests"\
          "CSharpMath.Xaml.Tests"\
          "CSharpMath.Xaml.Tests.NuGet"\
          "AngouriMath/Tests/UnitTests"\
          "Typography/Typography.TextBreak/Typography.TextBreak.UnitTests"
        do
          dotnet add "$p" package Microsoft.NET.Test.Sdk # Update is required for GitHubActionsTestLogger to print anything
          dotnet add "$p" package GitHubActionsTestLogger
          dotnet test "$p" -c Release -l GitHubActions
        done
